 
/****** Elements ******/
html {
	font-family: Arial;
}
body {
	font-size: 14px;
	color: #454545;
	padding: 0px;
	line-height: inherit;
}
h1, h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 43px;
	color: #685c53;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: .83em;
	margin: 1.5em 0;
}
h6 {
	font-size: .75em;
	margin: 1.67em 0;
}
fieldset {
	border: 1px dotted gray;
}
legend {
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
	margin-left: 10px;
	padding: 0 5px;
}
ul {
	margin: 1.12em 0;
}
li {
	display: list-item;
}
#home-page h1, #home-page h2 {
	margin-bottom: 20px;
	border-bottom: 1px solid #aea8a4;
	padding-bottom: 10px;
	font-size: 24px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}
.button {
	display: table-cell;
	background: #42b6ff;
   /* Old browsers */
	background: -moz-linear-gradient(top, #42b6ff 0%, #0177c1 100%);
   /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42b6ff), color-stop(100%,#0177c1));
   /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #42b6ff 0%,#0177c1 100%);
   /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #42b6ff 0%,#0177c1 100%);
   /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #42b6ff 0%,#0177c1 100%);
   /* IE10+ */
	background: linear-gradient(to bottom, #42b6ff 0%,#0177c1 100%);
   /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b6ff', endColorstr='#0177c1',GradientType=0 );
   /* IE6-9 */
	height: 45px;
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px 0px #000000;
	box-shadow: 0px 1px 5px 0px #000000;
	color: #ffffff;
	font-weight:bold;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.button a {
	color: #ffffff;
}
.button:hover{
	background-color: #a5bf2e;
	cursor: pointer;
}
.button-div{
	margin-top:30px;
}
/***** location rotator ******/
.location {
	color: #454545;
   /* margin-top: 10px;
	*/
}
/******* testimonials *******/
.testimonial{
	float:left;
}
/****** footer ******/
.footer{
	font-size: 11px;
	color: #505050;
	background-color: #f0eeeb;
	overflow: hidden;
	padding-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}
.footer a{
	color: #505050;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.footer .footer-links {
	padding-top: 14px;
}
.upper-footer {
	margin-bottom: 33px;
	margin-top: 18px;
}
.certifications img {
	margin-right: 39px;
	height: 80px;
}
.sm-chicklets a{
	background-image: url('images/SocialMediaChicklets.png');
	background-repeat: no-repeat;
	margin-left:3px;
}
.sm-chicklets .facebook-url{
	background-position: 0px 0px;
}
.sm-chicklets .facebook-url:hover{
	background-position: 0px -28px;
}
.sm-chicklets .linkedin-url{
	background-position: -39px 0px;
}
.sm-chicklets .linkedin-url:hover{
	background-position: -39px -28px;
}
.sm-chicklets .twitter-url{
	background-position: -77px 0px;
}
.sm-chicklets .twitter-url:hover{
	background-position: -77px -28px;
}
.sm-chicklets .google-url{
	background-position: -116px 0px;
}
.sm-chicklets .google-url:hover{
	background-position: -116px -28px;
}
.sm-chicklets .youtube-url{
	background-position: -154px 0px;
}
.sm-chicklets .youtube-url:hover{
	background-position: -154px -28px;
}
.sm-chicklets .instagram-url{
	background-position: -190px 0px;
}
.sm-chicklets .instagram-url:hover{
	background-position: -190px -28px;
}
.sm-chicklets .blog-url{
	display:none;
}
/****** header ******/
.header {
	overflow: hidden;
}
.logo {
	max-width: 100%;
	float: left;
	margin-top: 31px;
	margin-bottom: 31px;
	color: #454545;
	text-decoration: none;
}
.phone-number {
	margin-top: 52px;
	margin-bottom: 10px;
	position: relative;
	font-family: 'Source Sans Pro', Arial;
	font-size: 24px;
	float: right;
	color: #0076c1;
	font-weight: bold;
	line-height: 29px;
	text-align: center;
}
.phone-number-header {
	display: inline;
	text-align: center;
	font-weight: 400;
	background-color: white;
	font-size: 24px;
	color: #959595;
}
/****** locations page ******/
.location {
	font-size: 17px;
	color: #555555;
	font-family: Arial;
}
/******* top nav ******/
.top-nav{
	background-color: #363636;
	z-index: 3;
}
.nav-container{
	font-size: 14px;
	font-family:Oswald;
	color: #454545;
	z-index: 5;
}
.nav-container a{
	text-decoration: none;
}
.nav-container ul{
	z-index: 5;
}
.nav-container ul li a {
	color: #3e3e43;
}
.nav-container > ul > li {
	border-radius: 5px;
	padding: 11px 19px;
	position: relative;
	font-family: Source Sans Pro, Arial;
}
.nav-container > ul > li:after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 2px;
	height: 45px;
	background: url("images/navPP.png");
}
.nav-container > ul > li:first-child:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2px;
	height: 45px;
	background: url("images/navPP.png");
}
.nav-container > ul > li > a {
	color: #FFF;
	font-size: 15px;
	line-height: 24px;
}
/* nav-products */
.page, .wrapper, .locations-widget .content > div{
	background-color: white;
}
/******* form ******/
.checkbox {
	display: inline;
   /* height: 14px;
	width: 15px;
	*/
}
form .button {
	display: block;
	width: 150px;
}
.left-col form input, .left-col form select, .left-col form textarea {
	margin-bottom: 20px;
}
/****** Site Structure ******/
/****** locations rotator ******/
#home-page .locations-container{
	overflow: hidden;
	margin-bottom: 22px;
	float: left;
	width: 49%;
}
#home-page .locations {
	background-color: white;
}
.homeContent {
	font-family: Source Sans Pro, Arial;
	font-size: 18px;
	float: left;
	width: 47%;
	margin-right: 4%;
}
.location-phone {
	padding-top: 10px;
}
.locationFloater {
	width: 49%;
	float: left;
}
.locationFloater h4 {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #acbe2e;
	text-transform: uppercase;
	margin-bottom: 3px;
	margin-top: 0px;
}
.office-hours{
	float: left;
}
.office-hours span{
	width: 120px;
	float: left;
}
/****** testimonials ******/
.testimonial-quote {
	font-size: 14px;
	font-family: Georgia;
	font-style: italic;
	background: #cce4f3;
	color: #363636;
	border-radius: 15px;
	margin: 0 20px;
	position: relative;
	padding: 35px 30px;
   /* min-height: 127px;
	*/
	width: 276px;
	overflow: hidden;
	position: relative;
}
#slider > div > div:nth-child(1) > div.testimonial-quote {
	margin-left: 0;
}
#slider > div > div:nth-child(4) > div.testimonial-quote {
	margin-left: 0;
}
#home-page .testimonial-quote:before {
	content: "";
	position: absolute;
	left: 5%;
	top: 10px;
	background-image: url("images/quoteOpen.png");
	background-size: 25px 20px;
	width: 25px;
	height: 20px;
}
#home-page .testimonial-quote:after {
	content: "";
	position: absolute;
	right: 5%;
	bottom: 10px;
	background-image: url("images/quoteClose.png");
	background-size: 25px 20px;
	width: 25px;
	height: 20px;
}
.testimonial-author {
	margin: -10px 0 10px;
	width: 100%;
	text-align: center;
	font-family: Georgia, Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
/******* top nav ******/
.top-nav{
	height: 45px;
	margin-bottom: 0px;
	width: 100%;
	position: relative;
}
ul {
	position: relative;
	display: inline;
   /* float: left;
	*/
}
ul a{
	display:block;
}
.nav-container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 45px;
}
.nav-container ul{
	margin: 0;
	z-index: 5;
	padding: 0;
}
.nav-container > ul > li{
	display: block;
	float: left;
	height: 23px;
	line-height: 26px;
   /* vertical-align: middle;
	*/
}
/****** Generic Helper Classes ******/
.hlp-box-shadow {
	-webkit-box-shadow: 0px 1px 5px 0px #000000;
	box-shadow: 0px 1px 5px 0px #000000;
}
.center {
	margin-left: auto;
	margin-right: auto;
	overflow-y: hidden;
}
.center {
	width: 100%;
	max-width: 1170px;
}
.lower {
	background-color: white;
	overflow: hidden;
	font-size: 15px;
	font-family: Arial;
	padding-top: 39px;
	padding-bottom: 53px;
	margin-top: -47px;
}
.banner {
	width: 100%;
	height: 431px;
	background-position: center center;
	position: relative;
	z-index: 1;
}
.get-a-quote {
	display: none;

	
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	bottom: 0;
	color: white;
	font-size: 24px;
	font-weight: 700;
	height: 86px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: absolute;
	width: 100%;
}
.get-a-quote .button, .mobile.button {
	display: block;
	font-family: 'Source Sans Pro', Arial;
	font-weight: 600;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
	padding-bottom: 8px;
	padding-top: 10px;
	margin-top: 20px;
	width: 45%;
	max-width: 160px;
	float: right;
}
.gplus {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
}
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}
.container-fluid, .row-fluid {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
#home-page .container-fluid, .row-fluid {
	max-width: 1170px;
}
.lower {
	font-family: 'Source Sans Pro', Arial;
	font-size: 17px;
	color: #363636;
}
.lower .inner {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 31px;
}
#home-page .lower .inner h1, #home-page .lower .inner h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
.mobilePhoneBucket {
	display: none;
	opacity: 0;
	left: 0;
	position: fixed;
	top: -100px;
	width: 100%;
	z-index: 9999;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe .swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe .swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100% 
}
#home-page.stickied {
	padding-top: 40px;
}
.sticky + .content {
	padding-top: 107px;
}
.hidden {
	display: none;
}
.mobile.button {
	display: none;
}
@media (min-width: 856px) and (max-width: 1210px) {
	.main {
		padding-left: 20px;
   }
}
@media (max-width: 1169px) {
	.get-a-quote .button {
		margin-right: 10px;
   }
	.banner-copy {
		margin-left: 10px;
   }
	.homeContent {
		width: 44%;
		margin-left: 3%;
   }
	#home-page .locations-container {
		width: 46%;
		margin-right: 3%;
   }
}
@media (max-width: 980px) {
	#menu {
		display: none;
   }
	.mobileNavButtons {
		display: block;
   }
	.top-nav {
		height: 78px;
   }
	.header {
		padding-top: 77px;
   }
	.phone-number {
		margin-top: 21px;
   }
	#home-page .testimonial-quote {
		margin-left: 2%;
		margin-right: 2%;
		width: 66%;
   }
}
@media (max-width: 865px) {
	.get-a-quote {
   }
	.get-a-quote .button {
		font-size: 20px;
		margin-top: 13px;
		padding-bottom: 0;
		padding-top: 15px;
   }
	.right-bar, .main {
		width: auto;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 15px;
   }
	#home-page .lower .inner h1, #home-page .lower .inner h2 {
		margin-left: 3%;
   }
}
@media (max-width: 768px) {
	.banner {
		margin-bottom: 15px;
   }
	.banner-copy {
		font-size: 37px;
   }
	.get-a-quote .button {
		width: 35%;
   }
	.logo {
		width: 100%;
		text-align: center;
   }
	.floatDiv.carriers {
		display: none;
   }
	.floatDiv {
		width: 47%;
   }
	.home-content {
		width: 47%;
   }
	.phone-number {
		display: none !important;
   }
	.phone-number-header {
		font-size: 23px;
   }
	.locations-inner {
		margin-left: auto;
		margin-right: auto;
   }
	.vert-arrow {
		display: none;
   }
	.home-link a {
		margin-left: auto;
		margin-right: auto;
   }
	.locationFloater {
		width: 100%;
		margin-right: 0;
   }
	.location.listing .address {
		width: 100%;
		margin-bottom: 18px;
   }
	.location.listing .map {
		width: 100%;
   }
	.listing .staff-contact, .listing .staff-office, .listing .staff-name, .listing .staff-pic {
		border-bottom: 1px solid #DDDDDD;
		float: none;
		margin-bottom: 4px;
		margin-left: auto;
		margin-right: auto;
		padding: 3px;
		width: 70%;
   }
	#home-page .location-image, #home-page .locations-container .address, #home-page .location-info, .office-hours, #home-page .location-functions {
		margin-right: 3%;
		margin-left: 3%;
		width: 44%;
   }
	#home-page .locationFloater:first-child {
		margin-right: 0px;
		margin-bottom: 20px;
   }
	.footer .footer-links {
		font-size: 16px;
   }
	.staff-pic > img {
		width: auto;
		display: block;
		max-height: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
   }
	.staffPage .staff-name {
		padding-top: 15px;
		padding-bottom: 15px;
   }
	.staffPage .listing .button-div {
		display: none;
   }
	.staffPage .listing .staff-contact {
		padding-top: 15px;
		padding-bottom: 15px;
   }
	.staffPage .listing .staff-office {
		padding-top: 15px;
		padding-bottom: 15px;
   }
	.staffPage .listing .phone span {
		display: inline-block;
		margin-right: 8px;
		width: auto;
   }
}
@media (max-width: 650px) {
	.featuredProducts.rotator {
		display: none;
   }
	.mobileFeaturedProducts {
		display: block;
   }
	h2.featured {
		display: none;
   }
	#home-page .testimonial-quote:before, #home-page .testimonial-quote:after {
		content: none;
   }
	#home-page .testimonial-quote {
		padding: 22px 10px;
		font-size: 17px;
		width: auto;
   }
}
@media (max-width: 550px) {
	.banner {
		height: 226px;
   }
	.get-a-quote {
		height: 167px;
		text-align: center;
		top: 30px;
		width: 100%;
   }
	.banner-copy {
		float: none;
		display: block;
   }
	.get-a-quote .button {
		width: 50%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
   }
	.related-product-details h3 {
		font-size: 11px;
   }
	.related-products li div {
		font-size: 9px;
   }
}
@media (min-width: 500px) {
	#mobilePhoneButton {
		display: none;
   }
}
@media (max-width: 480px) {
	.center {
		width: 360px;
		max-width: 460px;
		overflow-y: visible;
   }
	#home-page .homeContent, #home-page .locations-container, #testimonialsection {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
   }
	.testimonial {
		display: none;
   }
   /* #slider > div > div:nth-child(1) > div.testimonial-quote, div.testimonial-quote {
		margin-left: 0;
		margin-right: 0;
   }
	*/
	.mobile.button {
		display: block;
		float: left;
   }
	.mobile.button.call_me {
		float: right;
   }
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
   }
	.lower .inner {
		padding-top: 0px;
   }
	#locationField {
		display: none;
   }
	.banner-copy {
		font-size: 30px;
		margin-left: 0;
		margin-top: 5px;
		margin-bottom: 5px;
   }
	.floatDiv:first-child {
		margin-left: 3%;
   }
	.home-content, .floatDiv {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
   }
	#interior-page .logo {
		display: none;
   }
	.phone-number {
		margin-top: 0px;
   }
	.top-nav {
		position: static;
   }
	.header {
		padding-top: 0px;
   }
	.nav-container {
		width: 100%;
		overflow: hidden;
		height: auto;
		padding-bottom: 11px;
   }
	.get-a-quote {
		font-size: 41px;
		height: 109px;
		margin-top: 86px;
   }
	.get-a-quote .button {
		line-height: 13px;
		margin-top: 12px;
   }
	.home-link {
		width: 78% !important;
   }
	.top-nav {
		height: 0px;
   }
	.nav-container > ul > li {
		line-height: 30px;
		height: auto;
		line-height: 30px;
		margin-left: 5%;
		margin-right: 5%;
		width: 30%;
   }
	.banner {
		height: 225px;
   }
	.location-image {
		width: 100%;
   }
	.location-info, .office-hours {
		float: none;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
   }
	.location-functions {
		float: none;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
   }
	.locationFloater h4 {
		margin-top: 10px;
   }
	.location-phone {
		padding-top: 0px;
   }
	#home-page .location-image, #home-page .locations-container .address, #home-page .location-info, .office-hours, #home-page .location-functions {
		width: 84%;
		margin-left: 8%;
		margin-right: 8%;
		float: none;
   }
	.office-hours span {
		width: 100px;
   }
}
@media (max-width: 410px) {
	.mobileNavButton {
		margin-right: 0.5%;
   }
	.home-link {
		width: 78% !important;
   }
	.nav-container > ul > li {
		line-height: 30px;
		width: 30%;
		height: auto;
   }
	.related-products li {
		width: 214px;
   }
	.related-product-details {
		width: 144px;
   }
	.related-products li img {
		width: 60px;
   }
}
@media (max-width: 370px) {
	.get-a-quote {
		font-size: 30px;
   }
	.get-a-quote .button {
		font-size: 15px;
		padding-top: 24px;
   }
}
@media (max-width: 320px) {
	.products {
		display: none !important;
   }
	.nav-container > ul > li {
		line-height: 36px;
		width: 78%;
		height: auto;
		margin-top: 4px;
   }
	.home-link {
		width: 78% !important;
   }
	.email-widget {
		display: none;
   }
}
