<div class="wrapper" id="banner_wrapper">
    <div class="banner hlp-box-shadow">
        <div class="center">
            <div class="mobile button"><a href="mailto:ryanw@cottonwoodins.com">Email now</a></div>
            <div class="mobile button call_me"><a href="tel:801-943-5700">Call me</a></div>
        </div>
    </div>
    <div id="get_a_quote" class="get-a-quote">
        <div class="center">
            <div class="banner-copy">
                <p>Start a free online quote now</p>
            </div>
            <div id="locationField">
                <select>
                    <option>Select type of insurance</option>
                    <option>Auto</option>
                    <option>Home</option>
                    <option>Auto &amp; Home Bundle</option>
                    <option>Auto &amp; Renters Bundle</option>
                    <option>Landlord</option>
                    <option>Business</option>
                    <option>Life</option>
                </select>
            
            </div>
            <a class="button" href="request-a-quote.html">Go</a>
        </div>
    </div>
</div>
