<p>I've found satisfaction in serving and taking care of others. 
        This has carried over to my career as an insurance agent when I started here 
        at Cottonwood Insurance about 17 years ago. I love Cottonwood Insurance because 
        instead of being tied down to one insurance company, I have gained contracts 
        with multiple preferred insurance companies which allows me to better service you. 
        I do my very best to provide personalized service and care to each client. 
        However, I need to give my staff credit for the fantastic job they do too. 
        However you like to communicate, whether by e-mail, phone, text, etc. that is the way 
        I like to communicate and do my best to be as accessible and responsive as possible.
    </p>
    <p>I grew up in Cottonwood Heights, attended Brighton High School and graduated 
        from the University of Utah with a Bachelor of Arts degree in Finance.
    </p>
    <p>
        I love cycling with friends and cycling races. I have scaled back from racing 
        to devote more time to my wife, son, and daughter.
    </p>