<p>
        I've always found satisfaction in serving and taking care of others. 
        This satisfaction has carried over to my career as an insurance agent/broker 
        when I started here at Cottonwood Insurance in 2001. 
        I love Cottonwood Insurance because I've been able to obtain contracts to write insurance 
        for many of the best insurance companies in the country. 
        I'm not tied down to just one company. This greatly increases the likelihood I will save you money 
        and it allows me to better serve you. 
        I need to give my staff credit as well for the fantastic job they do. 
        They are capable, friendly and responsive. 
        Whether it is auto, home, commercial liability, commercial property, commercial auto, 
        workers compensation or life insurance, please contact me. 
        My office number is <a href="tel:801-943-5700">801-943-5700</a>.
</p>
