<div class="inner center">
    <div id="testimonialsection" class="testimonials">
        <h2>Testimonials</h2>
        <div id="slider" class="testimonial-rotator">
            <div class="swipe-wrap">
                <div class="testimonial">
                    <div class="testimonial-quote">
                        Ryan set us up with the most fantastic policy. He always makes himself available for us regardless of how simple or complex our question or situation is. Our experience has been unbelievable and we will always use him as our agent.
                    </div>
                    <div class="testimonial-author">
                        <br/>
                        Nathan & Nicki
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-quote">
                        I moved to Salt Lake from California, and needed new insurance. Ryan saved me more than $1000 a year on my car insurance alone. And because I bundled it with my renter's insurance, I got another discount, which basically payed itself. Ryan was very knowledgable and helpful. I had a great experience.
                    </div>
                    <div class="testimonial-author">
                        <br/>
                        Joel and Angie
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-quote">
                        I've worked with Ryan for a few years now and he's definitely the best insurance agent I've had. He's helped me through water damage at my house, changes in my car insurance, and following up when I've made changes. I know he's genuinely concerned about getting me the best help, rates, and service. Ryan is thorough and easy to talk with, easy to get in contact with, and returns calls quickly. He always makes me feel like I'm his most important client!
                    </div>
                    <div class="testimonial-author">
                        <br/>
                        Erika P.
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-quote">
                        Ryan is a young, honest, friendly, out-going guy. Ryan is also local and will answer every question and concern that comes up.
                    </div>
                    <div class="testimonial-author">
                        <br/>
                        Linny
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-quote">
                        Ryan just saved John and I $800 on our insurance (Cars, Boat, House)!  He's a lot better than that stupid gecko...
                    </div>
                    <div class="testimonial-author">
                        <br/>
                        Julie &amp; John
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
