<div class="topAreaOuter">
    <div class="container-fluid">
        <div class="header row-fluid row">
            <div class="col-md-5">
                <a href="/" class="logo"><img src="img/cottonwood_logo.jpg" /></a>
            </div>
            <div class="phone-number offset-md-1 col-md-5">
                <div class="phone-number-header">
                    Please contact me at 
                </div>
                ryanw@cottonwoodins.com 
                <div class="phone-number-header">
                    <p>or call <span style="color:#0076c1">801&ndash;943&ndash;5700</span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="top_nav" class="top-nav">
        <div class="nav-container">
            <ul id="menu">
                <li>
                <a href="#mainContentContainer">Why Customers Choose Me</a>
                </li>
                <li>
                <a href="#testimonialsection">Testimonials</a>
                </li>
                <!-- <li>
                <a href="#">Insurance Tips From a Pro</a>
                </li> -->
                <!-- <li>
                <a href="#get_a_quote">Online Free Home/Renters Quote</a>
                </li> -->
                <li>
                <a href="#mainContentContainer">My Contact Information</a>
                </li>
                <li id="phone_scrolled" class="hidden" style="color: #ffffff;">Contact me at ryanw@cottonwoodins.com or call 801&ndash;943&ndash;5700</li>
            </ul>
            <div class="mobilePhoneBucket">
                <div class="inner">
                    <h3>Call Today!</h3>
                    <a href="tel:801-943-5700">
                        <div class="phoneButton">
                            <span class="icon-phone"></span>
                            Call Ryan
                        </div>
                    </a>
                </div>
                <div class="darkScreen"></div>
            </div>
        </div>
    </div>
</div>
