<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117279780-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'UA-117279780-1');
        </script>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="Auto Insurance, Home Insurance, Business Insurance, Life & Health Insurance in Sandy, Draper, South Jordan, Lehi, Alpine and Riverton." />
        <meta name="keywords" content="Insurance, Auto Insurance, Home Insurance, Car Insurance, Homeowners Insurance, Business Insurance, Commercial Insurance, Ryan Woolston" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href='https://fonts.googleapis.com/css?family=Oswald%7COpen+Sans:400,300%7C' rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300,700' rel="stylesheet" type="text/css" />

        <link href="js/jquery/jscrollpane/css/jquery.jscrollpane.css" type="text/css" rel="stylesheet" media="all" />
        
        <link href="js/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/cssreset-min.css" rel="stylesheet" type="text/css"/>
        <!-- <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" /> -->
        <link href="css/bs4/bootstrap.min.css" rel="stylesheet" media="screen" />
        
        <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
        
        <link href="css/site.4.24.2018.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.4.24.2018.css" rel="stylesheet" type="text/css" media="all">
        
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/swipe.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQwAGCqyyt16d1g-uVvD4LLoaBtqoqS_o&libraries=places" type="text/javascript"></script>
        
        <script src="js/jquery/jscrollpane/jquery.jscrollpane.min.js" type="text/javascript" defer></script>
        <script src="js/jquery/backstretch/jquery.backstretch.min.js" type="text/javascript" defer></script>
        <script src="js/plugins.js" type="text/javascript" defer></script>
        <script src="js/jquery.jpanelmenu.min.js" type="text/javascript" defer></script>

        <script type="text/javascript">
            if (/Mobi/i.test(navigator.userAgent) || /Android/i.test(navigator.userAgent)) {
                
            }
        </script>
    </head>
    
    <body id="home-page">
        {{ content }}

		<!-- Organization Schema -->
		<script type="application/ld+json">
			{ "@context" : "http://schema.org",
			"@type" : "Organization",
			"url" : "https://www.rjwinsurance.com",
			"logo": "https://www.rjwinsurance.com/img/ryan-woolston.jpg",
			"areaServed" : "Cottonwood Heights, UT, Sandy, UT, Draper, UT, South Jordan, UT, Lehi, UT, Alpine, UT, Riverton, UT, and surrounding areas."
			}
        </script>
    </body>
</html>
